<!DOCTYPE HTML>
<html>
    <head>
        <title>PhoneBuzz</title>        
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/js/main.js"></script>
    </head>

    <body>
        <div class="topbar">
            <h1 class="title">PhoneBuzz</h1>
        </div>
        
        <div class="divider"></div>

        <div class="container flex-row">
            <div class="container button opt active-btn">Send Call</div>
            <div class="container button opt">Receive Call</div>
            <div class="container button opt">Call History</div>
        </div>

        <div class="container page" id="send_call">
            <h3>Call and Play FizzBuzz!</h3>
            <div class="title-div"></div>
            <a href="tel:2013406597"><button class="container button long-button">Call (201) 340-6597</button></a>
            
        </div>

        <div class="container page" style="display: none" id="receive_call">
            <h3>Receive a Call and Play FizzBuzz!</h3>
            <div class="title-div"></div>
            <h5>This only works for white listed numbers.</h5>
            <div class="title-div"></div>
            <form id="receive_form" class="container">
                <label for="phone_number">Please Enter Your Number</label>
                <input type="text" id="phone_number" class="input-field invalid-button" value="" placeholder="xxx-xxx-xxxx"> 
                <label for="delay">Enter a Delay (Default: 0)</label>
                <input type="text" id="delay" class="input-field valid-button" placeholder="0"> 
                <button id="receive_button" class="container button long-button disabled-button" type="submit">Receive Call</button>
            </form>
            <h3 id="success_message" style="display: none">Call sent.</h3>
        </div>

        <div class="container page" style="display: none" id="call_history">
            <h3>Call History</h3>
            <div class="title-div" style="margin-bottom: 0"></div>
            <h5>If something doesn't show right away, try refreshing.</h5>
            <div class="title-div"></div>
            <div class="table-container"> 
            <table class="history-table">
                <tr>
                    <th>Time of call</th>
                    <th>Number Used</th>
                    <th>Delay Used</th>
                    <th>Replay</th>
                </tr>            
                {% for row in calls %}
                <tr>
                    <td>{% print row[0] %}</td>
                    <td>{% print row[1] %}</td>
                    <td>{% print row[2] %} s</td>
                    <td><a href="{% print row[3] %}"><div class="container button replay-button"> &#9658;</div></a></td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </body>
</html>

